<h1>Edit Note</h1>

<%= render "form", model: @note %>

<%= button_to 'Delete Note', note_path(@note), class: "button delete-note-button",
                                 method: :delete,
                                 data: { confirm: "Really delete this note?" } %>
