<% provide(:title, "Edit Note") %>
<div class="full-page">
  <div class="inner-page">
    <h1 class="page-title">Edit Note</h1>

    <%= render "form", model: [@game, @note] %>

    <%= button_to 'Delete Note', game_note_path, class: "button delete-button",
                                     method: :delete,
                                     data: { confirm: "Really delete this note?" } %>
  </div>
</div>
