<h3>Stardew Valley App - Notes</h3>
<b><%= link_to 'Add New Note', new_note_path %></b>
<br>
<br>
<table>
<% @notes.each do |type, note| %>
  <% unless @notes[type].empty? %>
    <tr>
    <th><%= type %></th>
    </tr>
  <% end %>
  <% note.each do |info| %>
    <tr>
      <td><%= info.additional_info %></td>
      <td><%= link_to 'Edit', edit_note_path(info) %></td>
    </tr>
  <% end %>
<% end %>
</table>
