<% provide(:title, "#{@game.name}") %>
<div class="full-page">
  <div class="inner-page">
    <div class="page-header-title-button">
      <h1 class="page-title"><%= @game.name %></h1>
      <%= link_to 'Edit Game', edit_game_path, class: "button" %>
    </div>
    <%= render "notes/index" %>
  </div>
</div>
