<% provide(:title, "Add Preference") %>
<div class="full-page">
  <div class="inner-page preference-page-inner">
    <h1>Create Villager Preference</h1>

    <%= render 'form', model: @preference %>
  </div>
</div>
