<h1>Edit Villager Info</h1>

<%= render "form", model: @villager  %>

<%= button_to 'Delete Villager', villager_path(@villager),
                                 method: :delete,
                                 data: { confirm: "Really delete #{@villager.name}?" } %>
