<h2>Stardew Valley Villagers:</h2>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @villagers.order(:name).each do |villager| %>
    <tr>
      <td><%= headshot(villager.name) %></td>
      <td><%= villager.name %></td>
      <td><%= link_to 'Profile', villager_path(villager) %></td>
    </tr>
<% end %>
</table>
<br>
<b><%= link_to 'Add Villager', new_villager_path %></b>
