/* These variables for the page background color, headers, buttons, and footer
were added in preparation for allowing different color schemes per game.
Functionality for this feature has not been written yet. */
:root {
  --selected-background: rgb(246, 187, 66); /* Full page background - inner page is white */
  --selected-headers: rgba(249, 214, 142, 1); /* Table headers */
  --selected-buttons: rgba(66, 115, 246, 0.95); /* All buttons */
  --selected-footer: rgba(246, 187, 66, 1) /* Footer */
}

body {
  min-width: 700px;
  min-height: 560px;
}

body,
select,
form input,
.search-style {
  font-family: "Calibri", Arial, Helvetica, sans-serif;
}

table,
.full-form,
.individual-page-title {
  padding: 10px;
  margin: auto;
  width: 60%;
}

th.header {
  background-color: var(--selected-headers, rgba(115, 234, 255, 1));
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}

td {
  font-size: 18px;
  padding: 15px;
}

select,
form input {
  font-size: 16px;
}

select,
textarea,
form input[type=text] {
  width: 150px;
}

.full-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--selected-background, rgb(42, 224, 255));
  padding: 20px 0;
  border-radius: 10px;
}

.full-page-notes-embedded {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inner-page {
  width: 75%;
  background-color: white;
  border-radius: 12px;
  padding: 10px 15px 20px;
  padding-left: 30px;
}

.extra-info-text-area {
  width: 18em;
  height: 15em;
}

.profile-page-preference-table table {
  margin: 0px 0px 40px 0px;
  padding: 0px;
  width: 20%;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--selected-buttons, rgba(255, 74, 43, 0.95));
  border-radius: 4px;
  border-style: none;
  padding: 6px 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 10px;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.19);
  white-space: nowrap;
}

/* Every button has the same style except the "Add New X" buttons,
which are called out with a slightly darker background color and bold text */
.add-new-link {
  font-weight: bold;
  background-color: var(--selected-buttons, rgb(255, 74, 43));
}

.form-input-element {
  margin: 20px 10px;
}

/* This is centering the page title and "add new" buttons */
.page-header-title-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-title {
  display: inline-block;
  padding-left: 10px;
  width: 50%;
}

.individual-page-pic {
  padding-left: 15px;
}

.filter-header,
.search-header {
  font-weight: bold;
  font-size: 18px;
  margin: 5px 10px;
}

.search-header {
  margin-right: 30px
}

.filter-header {
  margin-left: 30px;
}

.search-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button,
.filter-button {
  margin-top: 10px;
}

.create-preference-choices {
  padding: 15px 0;
}

.create-preference-button {
  margin: auto;
}

.preference-page-inner {
  padding-bottom: 45px;
}

.show-likes,
.show-dislikes {
  margin: 10px 0;
}

/* This pre-line value allows user-inputted white space line breaks in our
additional info boxes to be retained, but still collapses in-line white space.
So I could write "This guy...


...is the best!"
and it would appear as written. */
.additional-info {
  white-space: pre-line;
}

.delete-button {
  margin-left: 20px;
}

.error-explanation {
  color: rgb(255, 74, 43);
  font-style: italic;
}

.error-message {
  color: rgb(255, 74, 43);
}

.footer-link {
  margin: 0 20px;
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--selected-footer, rgba(42, 224, 255, 1));
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  height: 75px;
  margin-top: 5px;
  text-align: center;
}

@media only screen
  and (max-width : 980px) {

  /* Everything will be bigger on mobile -
   and fill more of the page -
  to make it easier to read */
  table,
  form,
  .individual-page-title {
    width: 90%;
  }

  td,
  th.header {
    font-size: 1.3em;
  }

  select,
  textarea,
  form input[type=text] {
    font-size: 24px;
    width: 8em;
  }

  html .button {
    font-size: 24px;
  }

  .full-page {
    margin-top: 95px;
    font-size: 1.3em;
  }

  .inner-page {
    width: 90%;
  }

  .page-title {
    width: 90%;
  }

  .page-header-title-button .button {
    margin-left: 40px;
  }

  .search-header,
  .filter-header {
    font-size: 24px;
  }

  .search-button,
  .filter-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* On mobile and other smaller screens,
  the footer will be fixed to the top
  of the page so the user doesn't have to scroll
  all the way down to see it */
  .app-footer {
    position: fixed;
    top: 0;
    width: 98%;
  }

  .footer-link {
    font-size: 1.6em;
  }
}
