.item-pic {
  max-height: 100px;
  max-width: 80px;
  border-width: 2px;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-bottom-color: rgb(90, 158, 212);
  border-left-color: rgb(90, 158, 212);
}
