.headshot {
  max-height: 100px;
  max-width: 80px;
  border-width: 2px;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-right-color: rgb(90, 158, 212);
  border-bottom-color: rgb(90, 158, 212);
}

// body {
//   width: 800px;
// }

// .full-page {
//   background-color: rgb(42, 224, 255);
//   padding: 20px 0;
//   border-radius: 10px;
// }

// .inner-page {
//   background-color: white;
//   width: 700px;
//   border-radius: 12px;
//   padding: 10px 15px;
// }
